*{
    margin: 10px;
    padding: 10px;
    /*para que no se desborden las cajas*/
    box-sizing: border-box;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
    .header{
        background: url(../imagenes/header.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            display: flex;
            flex-flow: row nowrap;
        }
            .logo{
                flex: 1 1 auto;
            }
                .imagen{
                    width: 90px;
                    height: 90px;
                }
            .nav{
                flex: 5 1 auto;                
            }
                .enl-icono{
                    text-decoration: none;
                    color: gray;
                    margin-right: 2.5em;
                }
                .iconos{
                    margin-bottom: -15px;
                    margin-right: -5px;
                    width: 40px;
                    height: 40px;
                    flex: 1 1 auto;
                    filter: opacity(0.5);
                }

            .social{
                flex: 1 1 auto;
            }
                .face{
                    width: 40px;
                    height: 40px;
                    margin-right: -60px;
                    filter: opacity(0.5);
                }
                .twitter{
                    width: 40px;
                    height: 40px;
                    margin-right: -30px;
                    filter: opacity(0.5);
                }
        .texto-principal{
            background: rgba(216, 216, 216, 0.479);
            margin-left: 3em;
            margin-right: 3em;
            margin-top: 2em;
            margin-bottom: -10px;
            padding-bottom: 2em;

        }
            h1{
                color: #eea990;
                text-align: center;
            }