header{
    background: orange;
    color: #fff;
    border: 1vw solid black;
}
.parrafo{
    margin: 1vw;
    padding-right: 5em;
    width: 8.4%;
    background: salmon;
}
.inicial{
    background: #012030;
    display: flex;
    flex-wrap: wrap;
    padding: 1vw;
    border-bottom: 1em solid black;
}
.menu{
    margin: 1em;
    padding-right: 5em;
    width: 60%;
    background: salmon;
}
.bajada{
    background: yellow;
    margin: 2vw;
}
section{
    border: 1em solid black;
    margin-top: 1em;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
    background:#012030;
    width: 70%;
}
.columnas{
    background: #fff;
    flex-direction: row;
    width: 46%;
    margin: 1em;
}
.cont-abajo{
    background: #fff;
    width: 95%;
    margin: 1em;
    
}
.flex-aside{
    display: flex;
    background: red;
    width: 29%;
    margin-left: 70%;
    margin-top: -170px;
    padding-top: 9.5em;
    border-left: 1em solid black;
    
}
.aside{
    background: yellow;
    width: 30%;
    padding-top: -15em;
}
