header{
    background: orange;
    color: #fff;
    border: 1vw solid black;
}
.parrafo{
    margin: 1vw;
    padding-right: 5em;
    width: 8.4%;
    background: salmon;
}
.inicial{
    background: #012030;
    display: flex;
    flex-wrap: wrap;
    padding: 1vw;
    border-bottom: 1em solid black;
}
.menu{
    margin: 1em;
    padding-right: 5em;
    width: 60%;
    background: salmon;
}
.bajada{
    background: yellow;
    margin: 2vw;
}
.contenedor{
    border: 1vw solid black;
    background: #7275A6;
    margin-top: 20px;
}
.principal{
    width: 100%;
    display: flex;
}
.cont-colum{
    display: flex;
    width: 80%;
    flex-wrap: wrap;
}
.columnas{
    background: #010440;
    width: 47%;
    margin: 1em;
    display: inline-block;
}
.cont-aside{
    width:30% ;
    background: red;
    display: flex;
    flex-wrap: wrap;
    height: 100px;
}
aside{
    width: 100%;
    margin: 1em;
    display: inline-block;
}
article{
    width: 70%;
    background: yellow;
    margin: 1em;
}
