*{
    margin: 10px;
    padding: 10px;
    /*para que no se desborden las cajas*/
    box-sizing: border-box;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
    .header{
        background: url(../imagenes/header.jpg);
        background-position: center;
        background-attachment: contain;
        background-size: cover;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            display: flex;
            flex-flow: row nowrap;
        }
            .logo{
                flex: 1 1 auto;
                margin-top: -10px;
            }
                .imagen{

                    width: 90px;
                    height: 90px;
                }
            .nav{
                flex: 5 1 auto;                
            }
                .enl-icono{
                    text-decoration: none;
                    color: gray;
                    margin-right: 2.5em;
                }
                .iconos{
                    margin-bottom: -15px;
                    margin-right: -5px;
                    width: 40px;
                    height: 40px;
                    flex: 1 1 auto;
                    filter: opacity(0.5);
                }

            .social{
                flex: 1 1 auto;
            }
                .face{
                    width: 40px;
                    height: 40px;
                    margin-right: -60px;
                    filter: opacity(0.5);
                }
                .twitter{
                    width: 40px;
                    height: 40px;
                    margin-right: -30px;
                    filter: opacity(0.5);
                }
        .texto-principal{
            background: rgba(216, 216, 216, 0.479);
            margin-left: 3em;
            margin-right: 3em;
            margin-top: 3em;
            margin-bottom: -10px;
            padding-bottom: 2em;

        }
            h1{
                color: #eea990;
                text-align: center;
            }
    .section{
        display: flex;
    }
        .articulos{
            background: #d8d7d7;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
            margin-top: -15px;
            margin-left: -18px;

        }
            .article{
                background: #f5f1f1;
                flex: 1 1 40%;
             }
                .article img{
                    width: 510px;
                    height: 300px;
                    margin-top: -10px;
                    margin-left: -5px;
                }
                h3{
                    color: #e5cc9a;
                    font-size: 13px;
                    padding: 10px 0;
                    margin-top: -55px;
                }
                h2{
                    background: #f08080;
                    color: #faf1e9;
                    margin-left: 3px;
                    margin-right: 20px;
                }
                .resumen{
                    display: flex;
                    flex-flow: row nowrap;
                }
                table{
                    margin-left: -15px;
                    margin-right: 0px;
                    color: #6d6d6d;
                    font-size: 14px;
                }
                h4{
                    color: #b7b5b5;
                    font-size: 15px;
                }
            .navegacion{
                flex: 1 1 auto;
            }
        .aside{
            background: #d8d7d7;
            flex: 1 1 auto;
            margin-left: 10px;
            margin-top: -15px;
            width: 100%;
        }
            .titulo{
                background:#d8d7d7 ;
                color: #000;
                font-style: 500;
            }
            .text-aside{
                color: #000;
                margin-top: 1em;
            }
    .footer{
        background: #c0bebe;
    }
        .pie{
            background: #ece5e5;
            margin: 0 5px 0 5px;
            text-align: center;
        }
        @media all and (max-width: 768px){
            .section{
                background: #feff03;
                flex-direction: column;
            }
        }
        @media all and (max-width: 480px){
                .menu{
                    flex-direction: column;
                }
            .section{
                background: #feff03;
                flex-direction: column;
            }
                .articulos{
                    background: #09506f;
                    flex-direction: column;
                }
                    article{
                        background: #61959c;
                    }
                    .navegacion{
                        background: #a3ddcb;
                    }
                .aside{
                    background: #fd7b54;
                }
                    .publicidad{
                        background: #fdb36b;
                    }
                    .pie{
                        background: #fdc764 ;
                    }
        }