*{
    margin: 10px;
    padding: 10px;
    /*para que no se desborden las cajas*/
    box-sizing: border-box;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
    .header{
        background: #000;
        display: flex;
        flex-flow: column nowrap;
    }
        .menu{
            background: #2d4059;
            display: flex;
            flex-flow: row nowrap;
        }
            .logo{
                background: #ea5455;
                flex: 1 1 auto;
            }
            .nav{
                background: #ea5455;
                flex: 5 1 auto;
            }
            .social{
                background: #ea5455;
                flex: 1 1 auto;
            }
        .texto-principal{
            background: #f07b3f;
        }
            h1{
                background: #FFD460;
            }
    .section{
        background: #000;
        display: flex;
    }
        .articulos{
            background: #4E4E6A;
            flex: 2 1 auto;
            display: flex;
            flex-flow: row wrap;
        }
            article{
                background: #1F6CB0;
                flex: 1 1 40%;
             }
            .navegacion{
                background: #70a3c4;
                flex: 1 1 100%;
            }
        .aside{
            background: #F73F52;
            flex: 1 1 auto;
        }
            .publicidad{
                background: #FFEA85;
            }
    .footer{
        background: #000;
    }
        .pie{
            background: #e6af2e;
        }
@media all and (max-width: 768px){
    .section{
        background: #feff03;
        flex-direction: column;
    }
}
@media all and (max-width: 480px){
        .menu{
            flex-direction: column;
        }
    .section{
        background: #feff03;
        flex-direction: column;
    }
        .articulos{
            background: #09506f;
            flex-direction: column;
        }
            article{
                background: #61959c;
            }
            .navegacion{
                background: #a3ddcb;
            }
        .aside{
            background: #fd7b54;
        }
            .publicidad{
                background: #fdb36b;
            }
            .pie{
                background: #fdc764 ;
            }
}