*{
    box-sizing: border-box;
}
.padre{
    display: flex;
    flex-flow: column nowrap;
}
    .header{
        background: black;
    }
    .section{
        background: black;
    }
    .footer{
        background: black;
    }
